<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
        bootstrap="./phpunit.php"
        cacheResultFile="./tests/support/output/coverage/.phpunit.result.cache"
        colors="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        processIsolation="true"
>
    <coverage includeUncoveredFiles="true" />
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
